# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDEs
.vscode/
.idea/

# Project Specific
artifacts/*
!artifacts/model_trainer/
artifacts/model_trainer/*
!artifacts/model_trainer/model.pkl
!artifacts/data_transformation/
artifacts/data_transformation/*
!artifacts/data_transformation/preprocessor.pkl
logs/
data/
reports/
.env
*.pem

# DVC
.dvc/cache
.dvc/tmp
.dvc/config.local

# MLflow
mlruns/
